
    
@mixin box-shadow($params...) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}
  
$squareSize: 5px;
  
@function generate-pixelart($squareSize, $colorpixelmap){
    
    $boxshadowvalues: null;
    $colorIndex: 0;
    $lineIndex: 0;
  
    @each $shadow-key, $shadow-value in $colorpixelmap {
        @each $color-key, $color-value in $shadow-value {	  	
            @if $color-key != 0 {
                $boxshadowvalues: $boxshadowvalues, $colorIndex*$squareSize $lineIndex*$squareSize 0 $color-key;
            } 
            $colorIndex: $colorIndex + 1;
        }
        $colorIndex: 0;
        $lineIndex: $lineIndex + 1;
    }
  
    @return $boxshadowvalues;
}
  
$image: (
    line-0: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ,line-1: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ,line-2: 0 0 rgba(0,90,81,91) rgba(0,89,82,239) rgba(0,89,82,217) rgba(0,91,79,45) 0 0 0 0 0 0 0 0 0 0 ,line-3: 0 0 rgba(0,89,81,241) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,167) 0 0 0 0 0 0 0 0 0 0 ,line-4: 0 0 rgba(0,89,83,204) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,140) 0 0 0 rgba(0,89,83,40) rgba(0,90,81,188) rgba(0,89,82,251) rgba(0,89,82,235) rgba(0,88,82,130) rgba(0,85,85,3) 0 ,line-5: 0 0 rgba(0,88,78,26) rgba(0,89,81,135) rgba(0,89,82,112) rgba(0,85,85,6) 0 0 rgba(0,91,91,14) rgba(0,89,82,228) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,90,82,131) 0 ,line-6: 0 0 0 0 0 0 0 0 rgba(0,89,83,89) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,236) 0 ,line-7: 0 0 0 0 0 0 0 0 rgba(0,89,81,97) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,81,241) 0 ,line-8: 0 0 0 0 0 rgba(0,85,85,9) rgba(0,89,82,115) rgba(0,88,82,153) rgba(0,88,82,124) rgba(0,89,82,247) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,83,154) 0 ,line-9: 0 0 0 0 rgba(0,77,77,10) rgba(0,89,83,207) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,248) rgba(0,90,82,225) rgba(0,89,82,255) rgba(0,89,82,253) rgba(0,89,83,170) rgba(0,77,77,10) 0 ,line-10: 0 0 0 0 rgba(0,90,82,96) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,81,66) rgba(0,88,80,32) rgba(0,85,85,18) 0 0 0 ,line-11: 0 0 0 0 rgba(0,89,83,114) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,90,81,82) 0 0 0 0 0 ,line-12: 0 0 0 0 rgba(0,90,83,37) rgba(0,89,82,249) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,82,255) rgba(0,89,83,238) rgba(0,85,85,18) 0 0 0 0 0 ,line-13: 0 0 0 0 0 rgba(0,89,81,72) rgba(0,89,82,211) rgba(0,89,82,251) rgba(0,89,82,200) rgba(0,87,82,53) 0 0 0 0 0 0 ,line-14: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ,line-15: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
);
  
.holder{
    width: $squareSize*16;
    height: $squareSize*16;
    margin: 0 auto;
}
  
.image-css{
    width: $squareSize;
    height: $squareSize;
    background-color: rgba(0,0,0,0.0);
    @include box-shadow(generate-pixelart($squareSize,$image))
}
