
  @mixin box-shadow($params...) {
    -webkit-box-shadow: $params;
       -moz-box-shadow: $params;
            box-shadow: $params;
  }
  
  $squareSize: 5px;
  
  $darkRed: #500000;
  $baseRed: #b02860;
  $lightRed: #f84070;
  
  $darkYellow: #d8a038;
  $lightYellow: #f8d870;
  
  $white: #ffffff;
  $black: #000000;
  $brown: #885818;
  
  $darkSkin: #f87068;
  $lightSkin: #f8d0c0;
  
  $darkBlue:#203088;
  $baseBlue: #408098;
  $lightBlue: #80d8c8;
  
  @function generate-pixelart($squareSize, $colorpixelmap){
      $boxshadowvalues: null;
      $colorIndex: 0;
      $lineIndex: 0;
  
      @each $shadow-key, $shadow-value in $colorpixelmap {
        @each $color-key, $color-value in $shadow-value {     
          @if $color-key != undefined {
              $boxshadowvalues: $boxshadowvalues, $colorIndex*$squareSize $lineIndex*$squareSize 0 $color-key;
          } 
          $colorIndex: $colorIndex + 1;
        }
        $colorIndex: 0;
        $lineIndex: $lineIndex + 1;
      }
  
    @return $boxshadowvalues;
  }
  
  $frameOne: (
    
    line-01: undefined undefined undefined undefined undefined undefined undefined $darkRed $darkRed $darkRed $darkRed $darkRed,
    
    line-02: undefined undefined undefined undefined undefined $darkRed $darkRed $lightRed $lightRed $lightYellow $lightRed $lightRed $darkRed,
    
    line-03: undefined undefined undefined undefined $darkRed $lightRed $lightRed $baseRed $darkYellow $lightYellow $white $baseRed $darkRed,
    
    line-04: undefined undefined undefined $darkRed $lightRed $baseRed $baseRed $black $black $black $black $black $black $black,
    
    line-05: undefined undefined $darkRed $lightRed $baseRed  $black $black $black $black $black $black $black $black $black $black,
    
    line-06: undefined $darkRed $baseRed $baseRed $black $black $black $black $black $black $black $black $black $black $black,
  
    line-07: undefined $darkRed $baseRed $baseRed $black $black $darkSkin $white $white $darkSkin $white $white $black $black,
  
    line-08: undefined $darkSkin $lightSkin $black $black $darkSkin $darkSkin $white $black $lightSkin $black $white,
  
    line-09: $darkSkin $brown $lightSkin $black $black $darkSkin $lightSkin $white $black $lightSkin $black $white $lightSkin $brown,
  
    line-10: $darkSkin $brown $darkSkin $black $black $black $lightSkin $lightSkin $darkSkin $darkSkin $lightSkin $lightSkin $lightSkin $brown,
  
    line-11: undefined $darkSkin $darkSkin $darkSkin $black $lightSkin $lightSkin $black $brown $darkSkin $darkSkin $darkSkin $darkSkin $brown,
  
    line-12: undefined $black $black $darkSkin $darkSkin $darkSkin $black $black $black $black $black $black $black $black $black,
  
    line-13: undefined undefined $black $black $darkSkin $darkSkin $lightSkin $lightSkin $black $black $black $black $black $black,
  
    line-14: undefined undefined undefined $black $brown $darkSkin $darkSkin $darkSkin $darkSkin $darkSkin $darkSkin $brown,
  
    line-15: undefined undefined undefined $darkRed $darkRed $baseRed $baseRed $darkRed $darkRed $brown $brown,
  
    line-16: undefined undefined $darkRed $lightRed $lightRed $brown $brown $brown $baseRed $baseRed $darkBlue $darkRed,
  
    line-17: undefined $darkRed $lightRed $lightRed $brown $white $white $brown $brown $lightRed $baseRed $baseBlue $brown $brown,
  
    line-18: undefined $darkRed $baseRed $brown $white $white $white $white $white $brown $lightRed $baseRed $lightBlue $white $brown,
  
    line-19: undefined $darkRed $baseRed $brown $white $white $white $white $white $brown $lightBlue $baseBlue $white $brown $brown,
  
    line-20: undefined undefined $darkRed $darkRed $brown $white $white $white $brown $white $lightBlue $lightBlue $white $darkBlue,
  
    line-21: undefined undefined $darkBlue $baseBlue $baseBlue $brown $brown $brown $lightBlue $lightBlue $lightBlue $lightBlue $baseBlue $darkBlue,
  
    line-22: undefined undefined undefined $darkBlue $baseBlue $baseBlue $lightBlue $lightBlue $lightBlue $lightBlue $lightBlue $lightBlue $baseBlue $darkBlue,
  
    line-23: undefined undefined $darkBlue $darkBlue $baseBlue $baseBlue $baseBlue $lightBlue $baseBlue $baseBlue $lightBlue $lightBlue $baseBlue $darkBlue $black,
  
    line-24: undefined $black $brown $darkBlue $darkBlue $darkBlue $baseBlue $baseBlue $darkBlue $darkBlue $baseBlue $baseBlue $darkBlue $lightYellow $brown $black,
  
    line-25: undefined $black $brown $brown $darkBlue $darkBlue $darkBlue $darkBlue $darkBlue undefined $darkBlue $brown $brown $brown $black $black,
  
    line-26: undefined $black $brown $brown $brown $brown $black undefined undefined undefined $black $brown $black $black $black $black,
  
    line-27: undefined undefined $black $brown $brown $brown $lightYellow $black undefined undefined $black $black $black $black $black,
  
    line-28: undefined undefined undefined $black $black $black $black $black undefined undefined undefined $black $black
  
  );
  
  
  body{
    background-color: #aaa;
    display: table;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
  }
  
  .holder{
    width: $squareSize*20;
    height: $squareSize*29;
  }
  
  .image-css{
    width: $squareSize;
    height: $squareSize;
    background-color: rgba(0,0,0,0.0);
    @include box-shadow(generate-pixelart($squareSize,$frameOne))
  }

  .result{
    text-align: center;
    margin: 4% 0;
    li{
      vertical-align: middle;
    }
  }